<ng-container *ngIf="loading; else elseTemplate">
  <div class="loader text-light">Loading...</div>
</ng-container>
<ng-template #elseTemplate>
  <div class="row" style="height: auto; position: relative;">
    <div class="col-md-2"></div>
    <div class="col-md-6 askBox">
      <div class="row">
        <p class="text-light col-md-3">Ask a question</p>
        <div class="col-md-9">
          <textarea #question class="form-control"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-top: 15px">
            <p class="text-light"> Select Users... </p>
        </div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-md-12">
          <div class="overflow-auto" style="max-height: 40px !important;">
            <div *ngFor="let f of friends" style="margin-top: 3px">
              <div *ngIf="f.user" class="text-primary form-control">
                <a [routerLink]="['/profile', f.user.identityId]">
                  @{{f.user.name}}
                </a>
                <input class="custom-checkbox" type="checkbox" (change)="selectUser(f.user.id)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-light" style="margin-top: 25px;">
          <div class="col-md-9" style="margin-top: 5px">
            <label for="anon">Ask anonymously? </label>
            <input class="custom-checkbox" #anon type="checkbox" name="anon" style="margin-left: 3px">
          </div>
          <div class="col-md-3" style="margin-top: 11px">
            <button class="btn btn-danger btn-block" (click)="ask(question, anon)">Ask</button>
          </div>
        </div>
    </div>
  </div>
  <app-post [posts]="posts"></app-post>
</ng-template>
